<div class="container">
  <mat-accordion *ngFor="let user of users" role="listitem" class="row">
      <mat-expansion-panel (opened)="user.opened = true"
                          (closed)="user.opened = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon *ngIf="user.editing" aria-hidden="false" fontIcon="priority_high"></mat-icon>
            <span>{{user.fullName}} - {{user.email}} - {{user.id}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-sm-12 col-lg-3">
            <mat-form-field class="">
              <mat-label>Full Name</mat-label>
              <input matInput type="text" [(ngModel)]="user.fullName" (ngModelChange)="user.editing = true">
              <button *ngIf="user.fullName" matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-lg-3">
            <mat-form-field class="">
              <mat-label>Email</mat-label>
              <input matInput type="text" [(ngModel)]="user.email" (ngModelChange)="user.editing = true">
              <button *ngIf="user.email" matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-lg-3 d-flex flex-row align-items-center">
            <button mat-raised-button [color]="(!user.editing) ? 'primary' : 'accent'" (click)="saveUser(user)">Save</button>
          </div>
        </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>