<div class="container">
  <mat-accordion *ngFor="let user of users" role="listitem" class="">
    <mat-expansion-panel (opened)="user.opened = true"
                        (closed)="user.opened = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="d-flex justify-content-start">
            <mat-icon class="" *ngIf="user.editing" aria-hidden="false" fontIcon="priority_high"></mat-icon>
            <app-profile-picture url="{{user.profilePicture}}" title="Photo of a {{user.fullName}}" size="tiny" />
          <span class="">&nbsp;-&nbsp;{{user.email}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-column flex-md-row justify-content-start">
        <div class="">
          <div class="d-flex justify-content-start">
            <app-profile-picture url="{{user.profilePicture}}" title="Photo of a {{user.fullName}}"/>
            <div class="d-flex flex-column justify-content-center">
              <button mat-icon-button aria-label="Upload profile picture" (click)="this.openUploadFile(user)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="ml-1">
          <mat-form-field class="">
            <mat-label>Full Name</mat-label>
            <input matInput type="text" [(ngModel)]="user.fullName" (ngModelChange)="user.editing = true">
            <button *ngIf="user.fullName" matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="ml-1">
          <mat-form-field class="">
            <mat-label>Email</mat-label>
            <input matInput type="text" [(ngModel)]="user.email" (ngModelChange)="user.editing = true">
            <button *ngIf="user.email" matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="ml-1">
          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Settings</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter fruits">
              <mat-chip-row *ngFor="let setting of user.settings"
                            (removed)="remove(user, setting)"
                            [editable]="true"
                            (edited)="edit(user, setting, $event)"
                            [aria-description]="'press enter to edit ' + setting">
                {{setting}}
                <button matChipRemove [attr.aria-label]="'remove ' + setting">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="New setting..."
                    [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="add(user, $event)"/>
            </mat-chip-grid>
          </mat-form-field>
        </div>
        <div class="ml-1">
          <button mat-raised-button [color]="(!user.editing) ? 'primary' : 'accent'" (click)="saveUser(user)">Save</button>
        </div>
        <div class="ml-1">
          <button mat-raised-button color="primary" [routerLink]="['/user/friends', user.id]">Friends</button>
        </div>
        <div class="ml-1">
          <button mat-raised-button color="primary" [routerLink]="['/user/payments', user.id]">Payments</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator [length]="pageLength"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              (page)="pageChange($event)">
  </mat-paginator>
</div>