<div class="container">
  <h3>{{primary.fullName}}'s connections</h3>
  <mat-divider></mat-divider>

    <div *ngFor="let network of networks" role="listitem" class="mt-1">
      <div class="d-flex flex-column flex-md-row justify-content-start">
        <div class="">
          <div class="d-flex justify-content-start">
            <img mat-card-image class="mh-5 mw-5" src="{{network.friend.profilePicture}}" alt="Photo of a {{network.friend.fullName}}">
          </div>
        </div>
        <div class="ml-1">
          <mat-label>{{network.friend.fullName}}</mat-label>
        </div>
        <div class="ml-1">
          <mat-label>{{network.friend.email}}</mat-label>
        </div>
        <div class="ml-1">
          <mat-form-field appearance="fill">
            <mat-label>Choose one</mat-label>
            <mat-select [(ngModel)]="network.relationship">
              <mat-option value="friend">Friend</mat-option>
              <mat-option value="family">Family</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="ml-1">
          <button mat-raised-button [color]="(!network.editing) ? 'primary' : 'accent'" (click)="save(network)">Save</button>
        </div>
        <div class="ml-1">
          <button mat-raised-button [color]="(!network.editing) ? 'primary' : 'accent'" (click)="delete(network)">Delete</button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
</div>